

h1 {
	text-align: center;
	color: purple;
	font-size: 40px;
}

p {
	color: #081398;

}

#secondary {
	color: #973007;
	font-size: 7px;
}

nav {
	text-align: center;
}

a,
a:link,
a:active,
a:visited {
	text-decoration: none;
	color: pink;
}